:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(187, 153, 233);
  background-color: #242424;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
}

.name {
  font-size: 30px; 
  background-color: rgb(38, 20, 61);
}

h2 {
  background-color: rgb(38, 20, 61);
}

ul {
  text-align: left;
}